body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    background: black;
}

div#wrapper {
    max-width: 400px;
    background: white;
}

div#wrapper > img {
    max-width: 100%;
}

.both-sides-justified {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.both-sides-justified > div {
    margin: 0;
    border: 0;
    padding: 0;
}

footer {
    padding: 20px;
}

header {
    align-items: center;
}

div#header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img#logo {
    margin: 15px;
}

div#text > p {
    margin: 0px;
}

div#buttons button {
    border: none;
    margin: 0;
    border: 0;
    padding: 0;
}

div#buttons button > img {
    max-width: 40px;
    margin: 7px
}

button {
    background: transparent;
}