body { /* Main contents alighment and common properties*/
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: black;
}

div#wrapper { /* Content block */
    max-width: 400px;
    background: white;
}

div#wrapper > img { /* Main img in content block */
    max-width: 100%;
}

.both-sides-justified { /* Horizonal bars: top and buttons */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.both-sides-justified > div { /* Space around cleanup for bars contents */
    margin: 0;
    border: 0;
    padding: 0;
}

footer {
    padding: 20px;
}

header { 
    align-items: center;
}

div#header-left { /* Header left side elements distribution */
    display: flex;
    flex-direction: row;
    align-items: center;
}

img#logo {
    margin: 15px;
}

div#text > p {
    margin: 0px;
}

div#buttons button { /* Hidding buttons */
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
}

div#buttons button > img { /* Make buttons images looks great */
    max-width: 40px;
    margin: 7px
}
